 option_settings:
  - option_name: RDS_DB_NAME
    value: conorandnataliedb
  - option_name: RDS_USERNAME
    value: conorandnatalie
  - option_name: RDS_PASSWORD
    value: hacienda
  - option_name: RDS_HOSTNAME
    value: irelanddbs.ctfnpmtt9tkn.eu-west-1.rds.amazonaws.com
  - option_name: RDS_PORT
    value: 5432